meta(charset="utf-8")
title FitScore

meta(name="author", content="TeamAwesome")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")

link(rel="stylesheet", href="css/tuktuk.css")
link(rel="stylesheet", href="css/tuktuk.icons.css")
link(rel="stylesheet", href="css/tuktuk.theme.css")
link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
link(rel="stylesheet", href="css/style.css")

