html {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: #777;
    height: 100%;
}

.cockpit {
    margin: 10px;
    padding: 30px 10px;
    background-color: #FFD687;
}

.cockpit h3 {
    font-weight: bold;
}

.cockpit p {
    font-size: 2em;
}

#slider-val {
    text-align: center;
}

.score {
    font-size: 10em;
    text-align: center;
    padding: 25px;
}