!!! 5
html

  head
    include includes/head

  body
    div#container
      div.header
        div.row.padding-top
          div.column_3
            img(src="img/Fitscore.png")
          div.column_5.offset_2.margin-top
            h1 Visualize your Health
      hr
      div.row
        div.column_4
          div.row.margin
            div.column_2.cockpit
              h3 Distance
              p#activity 7.7 km
            div.column_2.cockpit
              h3 Calories
              p#calories
          div.row.margin
            div.column_2.cockpit
              h3 Sleep
              p#sleep
            div.column_2.cockpit
              h3 Weight
              p#weight 72.1 kg
        div.column_3
          div.row
            div.column_3.margin
              h1#slider-val 09-07-2013
              div#slider
          div#score
        div.column_5
          div.row
            div#chart(style="width: 400px; max-width: 800px; height: 100%; margin: 0 auto")
      div#footer
        div.row
          h4 Data provided by
            img(src="img/FitbitR-Logo-small.png")
            img(src="img/runkeeper.png")
    include includes/scripts
