!!! 5
html

  head
    include includes/head

  body
    div.bck.center
      div.row.margin-top
        div.column_3
          img(src="img/Fitscore_gradient.png" height="100px")
        div.column_5.offset_2.margin-top
          h1 Visualize your Health
      hr
      div.row
        div.column_4
          div.row.margin
            div.column_2.cockpit
              h3 Distance
              p 3.5 km
            div.column_2.cockpit
              h3 Calories
              p 2102 kcal
          div.row.margin
            div.column_2.cockpit
              h3 Sleep
              p 7.8 h
            div.column_2.cockpit
              h3 Weight
              p 73.7 kg
        div.column_4
          div.score 9.6
        div.column_4
          div.row
            div.column_4.margin
              h1.margin-bottom#slider-val 09-07-2013
              div#slider
          div.row
            div#container(style="width: 400px; max-width: 800px; height: 100%; margin: 0 auto")
    include includes/scripts
