!!! 5
html

  head
    include includes/head

  body
    div.bck.center
      div.row.margin-top
        div.column_3.offset_4.margin
          div#slider

      div.row
        div#container(style="min-width: 400px; max-width: 1000px; height: 100%; margin: 0 auto")
    include includes/scripts
